<!DOCTYPE html>
<html>
<head>
  <title>Patrick Engine</title>
</head>
<body>
<div class = "navbar navbar-fixed-top">
	<div class="navbar-inverse">
  		<div class="navbar-inner">
  			<div class = "container">
   				<a class="Brand" href="#" src = "assets/images/patricklogo.png">Patrick Engine</a>
    			<ul class="nav">
      				<li class="active"><a href="#">Home</a></li>
      				<li class = "divider-vertical"><a href="#">Patrick Engine</a></li>
      				<li class = "divider-vertical"><a href="#">Wink</a></li>
      				<li class = "divider-vertical"><a href="#">Basecamp</a></li>
      				<li class = "nav-right"><a href= "#"> Log In</a></li>
    			</ul>
			</div>
  		</div>
	</div>
</div>
</body>
</html>
