<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar navbar-fixed-top">
	<div class="navbar-inverse">
  		
  		<div class="navbar-inner">
  			<div class = "container">
  				<a class="brand" href="#">Patrick Engine</a>				
    			<ul class="nav">
      				<li class="active"><a href="#">Home</a></li>
      				<li class = "divider-vertical"><a href="#">Patrick Engine</a></li>
      				<li class = "divider-vertical"><a href="#">Wink</a></li>
      				<li class = "divider-vertical"><a href="#">Basecamp</a></li>
      				<li class = "nav-right"><a href= "/login"> Log In</a></li>
    			</ul>
			</div>
  		</div>
	</div>
</div>
<%= yield %>

</body>
</html>
